/*font-family: 'Cormorant Garamond', serif;
font-family: 'Frank Ruhl Libre', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Raleway', sans-serif;*/



html {
  font: normal 500 1vw/1 'Raleway', sans-serif;
}

body {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #808080;
}

nav a {

}

nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: #FFF;
  opacity: .9;
  border-bottom: 1px solid #d3d3d3;
}

h1 {
  font: normal normal 2em/1 'Lora', cursive;
  margin: 2vw 0 2.5vw 2.25vw;
  height: 1.75vw;
  display: inline-block;
  width: 23vw;
}

.nav-padding {
  clear: both;
  padding: 0;
  height: 12vw;
}

.pull-quote {
  font: normal 300 2.5em/1.35 'Cormorant Garamond', sans-serif;
  /*letter-spacing: .08em;*/
  text-align: center;
  color: #595959;
  width: 52%;
  margin: auto;
  padding: 0 0 5vw 0;
}

ul {
  padding: 0;
  list-style: none;
}

ul.navlinks {
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  width: 49vw;
  height: 1vw;
  margin: 2.625vw 0;
}

ul.navlinks li {
  display: inline-block;
  margin: 0 2vw;
  font-size: .73em;
  letter-spacing: .2em;
}

ul.social {
  vertical-align: top;
  height: 1.25vw;
  text-align: right;
  display: inline-block;
  width: 22vw;
  margin: 2.5vw 2.25vw 2.5vw 0;
}

.social li {
  display: inline-block;
  padding: 0 0 0 1.75vw;
}

.social img {
  height: 1.25vw;
  width: auto;
}

.image-grid {
  margin: 0 9.5vw;
}

/***************************************************/

.full-width-image {
  /*z-index: -100;*/
  text-align: center;
  position: relative;
  margin: 0 0 1.5vw;
}

.full-width-image a {
  z-index: -100;
}

.full-width-image img {
  /*z-index: -100;*/
  width: 81vw;
  height: 45.5vw;
}

.full-width-hover {
  z-index: 100;
  width: 78vw;
  height: 42.5vw;
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  transition: .2s linear;
  opacity: 0;
}

.full-width-hover p:first-of-type {
  text-transform: uppercase;
  margin: 23vw 0 1vw 0;
  color: #000;
  font-size: .95vw;
  letter-spacing: .25em;
}

.full-width-hover p:last-of-type {
  color: #000;
  font: normal 300 .95vw/1 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.full-width-hover:hover {
  z-index: 100;
  background-color: #FFF;
  opacity: .95;
}



/***************************************************/

.two-thirds-image {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 0 1.5vw;
}

.two-thirds-image a {
  z-index: -100;
}

.two-thirds-image img {
  /*z-index: -100;*/
  width: 53.5vw;
  height: 34vw;
}

.two-thirds-hover {
  z-index: 100;
  width: 50.5vw;
  height: 31vw;
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  transition: .2s linear;
  opacity: 0;
}

.two-thirds-hover p:first-of-type {
  text-transform: uppercase;
  margin: 15vw 0 1vw 0;
  color: #000;
  font-size: .95vw;
  letter-spacing: .25em;
}

.two-thirds-hover p:last-of-type {
  color: #000;
  font: normal 300 .95vw/1 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.two-thirds-hover:hover {
  z-index: 100;
  background-color: #FFF;
  opacity: .95;
}



/***************************************************/

.one-third-image {
  float: right;
  text-align: center;
  position: relative;
  margin: 0 0 1.5vw 1.5vw;
}

.one-third-image a {
  z-index: -100;
}

.one-third-image img {
  /*z-index: -100;*/
  width: 26vw;
  height: 34vw;
}

.one-third-hover {
  z-index: 100;
  width: 23vw;
  height: 31vw;
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  transition: .2s linear;
  opacity: 0;
}

.one-third-hover p:first-of-type {
  text-transform: uppercase;
  margin: 15vw 0 1vw 0;
  color: #000;
  font-size: .95vw;
  letter-spacing: .25em;
}

.one-third-hover p:last-of-type {
  color: #000;
  font: normal 300 .95vw/1 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.one-third-hover:hover {
  z-index: 100;
  background-color: #FFF;
  opacity: .95;
}




.footer-padding {
  clear: both;
  padding: 0;
  height: 6vw;
}

footer {
  margin: 0;
  height: 5.25vw;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #d3d3d3;
}

footer p {
  margin: auto;
  padding: 2vw;
  font-size: .73em;
  letter-spacing: .2em;
  line-height: 2;
}
