/*font-family: 'Cormorant Garamond', serif;
font-family: 'Frank Ruhl Libre', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Raleway', sans-serif;*/


body {
  margin: 0;
  background-color: #303030;
}

section {
  display: flex;
  align-items: baseline;
  position: relative;
  height: 100vh;
}

h1 {
  font: normal normal 7em/1 'Lora', cursive;
  display: inline-block;
  color: white;
  display: inline-block;
  margin: 1.5rem;
  font-size: 7vw;
  text-align: bottom;
  position: absolute;
  bottom: 0;
}
