/*font-family: 'Cormorant Garamond', serif;
font-family: 'Frank Ruhl Libre', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Raleway', sans-serif;*/



html {
  font: normal 500 1vw/1 'Raleway', sans-serif;
}

body {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #808080;
}

nav a {

}

nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: #FFF;
  opacity: .9;
  border-bottom: 1px solid #d3d3d3;
}

h1 {
  font: normal normal 2em/1 'Lora', cursive;
  margin: 2vw 0 2.5vw 2.25vw;
  height: 1.75vw;
  display: inline-block;
  width: 23vw;
}

h3 {
  margin: 3vw 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.nav-padding {
  clear: both;
  padding: 0;
  height: 12vw;
}

.pull-quote {
  font: normal 300 2.5em/1.35 'Cormorant Garamond', sans-serif;
  /*letter-spacing: .08em;*/
  text-align: center;
  color: #595959;
  width: 52%;
  margin: auto;
  padding: 0 0 5vw 0;
}

ul {
  padding: 0;
  list-style: none;
}

ul.navlinks {
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  width: 49vw;
  height: 1vw;
  margin: 2.625vw 0;
}

ul.navlinks li {
  display: inline-block;
  margin: 0 2vw;
  font-size: .73em;
  letter-spacing: .2em;
}

ul.social {
  vertical-align: top;
  height: 1.25vw;
  text-align: right;
  display: inline-block;
  width: 22vw;
  margin: 2.5vw 2.25vw 2.5vw 0;
}

.social li {
  display: inline-block;
  padding: 0 0 0 1.75vw;
}

.social img {
  height: 1.25vw;
  width: auto;
}

.image-grid {
  margin: 0 9.5vw;
}

/***************************************************/

.full-width-image {
  /*z-index: -100;*/
  text-align: center;
  position: relative;
  margin: 0 0 1.5vw;
}

.full-width-image a {
  z-index: -100;
}

.full-width-image img {
  /*z-index: -100;*/
  width: 81vw;
  height: 45.5vw;
}

.full-width-hover {
  z-index: 100;
  width: 78vw;
  height: 42.5vw;
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  transition: .2s linear;
  opacity: 0;
}

.full-width-hover p:first-of-type {
  text-transform: uppercase;
  margin: 19.5vw 0 1vw 0;
  color: #000;
  font-size: .95vw;
  letter-spacing: .25em;
}

.full-width-hover p:nth-of-type(2n) {
  color: #000;
  font: normal 300 .95vw/1 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.full-width-hover:hover {
  z-index: 100;
  background-color: #FFF;
  opacity: .95;
}



/***************************************************/

.two-thirds-image {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 0 1.5vw;
}

.two-thirds-image a {
  z-index: -100;
}

.two-thirds-image img {
  /*z-index: -100;*/
  width: 53.5vw;
  height: 34vw;
}

.two-thirds-hover {
  z-index: 100;
  width: 50.5vw;
  height: 31vw;
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  transition: .2s linear;
  opacity: 0;
}

.two-thirds-hover p:first-of-type {
  text-transform: uppercase;
  margin: 14.5vw 0 1vw 0;
  color: #000;
  font-size: .95vw;
  letter-spacing: .25em;
}

.two-thirds-hover p:nth-of-type(2n) {
  color: #000;
  font: normal 300 .95vw/1 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.two-thirds-hover:hover {
  z-index: 100;
  background-color: #FFF;
  opacity: .95;
}



/***************************************************/

.one-third-image {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 0 1.5vw 1.5vw;
}

.one-third-image a {
  z-index: -100;
}

.one-third-image img {
  /*z-index: -100;*/
  width: 26vw;
  height: 34vw;
}

.one-third-image:nth-child(3n) {
  float: right;
}

.one-third-hover {
  z-index: 100;
  width: 23vw;
  height: 31vw;
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  transition: .2s linear;
  opacity: 0;
}

.one-third-hover p:first-of-type {
  text-transform: uppercase;
  margin: 14.5vw 0 1vw 0;
  color: #000;
  font-size: .95vw;
  letter-spacing: .25em;
}

.one-third-hover p:nth-of-type(2n){
  color: #000;
  font: normal 300 .95vw/1 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.one-third-hover:hover {
  z-index: 100;
  background-color: #FFF;
  opacity: .95;
}



/***************************************************/


.text-block-grid {
  margin: 0 19.5vw;
}

.bullet-text-block {
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 0 0 1.5vw 3vw;
  width: 28.9vw;
  border-left: 1px solid #d3d3d3;
}

.first-of-three {
  margin: 0;
  float: left;
}

.text-block-grid {
  padding-top: 2vw;
  /*margin: 1vw 0 0 0;*/
}

.text-block-grid ul {
  margin: -2vw 0 0 1.5vw;
  height: 10vw;
}

.text-block-grid li {
  margin: 0;
  font: normal 300 .95vw/2 'Raleway', sans-serif;
  letter-spacing: .1em;
  list-style: disc;
  margin: 0 0 0 1vw;
}

.text-block-grid p:first-of-type {
  transform: rotate(90deg);
  text-transform: uppercase;
  transform-origin: left top;
  color: #000;
  font-size: .73vw;
  letter-spacing: .25em;
  padding: .75vw 0 0 0;
  width: 10vw;
}


/***************************************************/

.cv-entry {
  text-align: left;
  position: relative;
  margin: 0 0 4vw 0;
}

.cv-entry ul {
  display: inline-block;
  /*margin: -2vw 0 0 3vw;*/
  height: 12vw;
  border-left: 1px solid #d3d3d3;
}

.cv-entry li {
  margin: 0 0 0 2.7vw;
  font: normal 300 .95vw/2 'Raleway', sans-serif;
  letter-spacing: .1em;
  list-style: disc;
}

.cv-entry a {
  width: 30vw;
}

.cv-entry img {
  width: 15vw;
  margin: 0 2.5vw 0 8vw;
  vertical-align: top;
}

.cv-entry li:first-of-type {
  margin: 0 0 0 1.5vw;
  text-transform: uppercase;
  font: normal 600 .95vw/2 'Raleway', sans-serif;
  letter-spacing: .1em;
  list-style: none;
}

.cv-entry li:nth-child(2) {
  margin: 0 0 0 1.5vw;
  margin-bottom: 1vw;
  list-style: none;

}



/***************************************************/

.technologies {
  text-align: center;
  margin: 4vw 0 0 0;
}

.technologies img {
  padding: 0 2vw;
  height: 10vw;
  width: auto
}

.technologies img.github {
  vertical-align: top;
  height: 9vw;
}


.body-padding {
  clear: both;
  padding: 0;
  height: 4vw;
}

.footer-padding {
  clear: both;
  padding: 0;
  height: 6vw;
}

footer {
  margin: 0;
  height: 5.25vw;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #d3d3d3;
}

footer p {
  margin: auto;
  padding: 2vw;
  font-size: .73em;
  letter-spacing: .2em;
  line-height: 2;
}
